module.exports = {
  apps: [{
    name: 'APP_NAME',
    script: 'npm', // npm|yarn|pnpm|bun
    args: 'start',
    cwd: '/var/www/app/current',
    env: {
      NODE_ENV: 'production',
      PORT: 3000
    },
    autorestart: true,
    max_restarts: 10,
    min_uptime: '10s'
  }]
};
